.left{
    float:left ;
    background-color:lime;
    margin:0 auto ;
    height:100px;
    margin-top:-16px;
}
.center {
    text-align:center;
    background-color:gray;
    
}
.text {
    margin-top:-16px;
    height:800px;
    background:silver;
    color:gray;
    width:175px;
    text-align:center;
    margin-left:90px;
    
}
.right { 
    float:right;
    margin-top:-800px;
    margin-right:10px;
    background-color:lime;
    height:100px;
}
